/* FRONT PAGE */

body {
    font-family:"Helvetica";
}

/* END FRONT PAGE */


/* MENU */

#menu {
    background-color: #EFEFEF;
    height: 24px;
}

#menu ul {
   
}
#menu li {
    float: right;
    padding: 2px;
}
#menu li a {
    text-decoration: none;
}

/* END MENU */

/* TIME MENU */

#timeselector {
    background-color: #EFEFEF;
    height: 24px;
    text-align: center;
}

#timeselector ul {
    list-style-type: none;
}

#timeselector li {
    padding: 2px;
    display: inline;
}

#timeselector li a {
}

/* END TIME MENU */
